@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.form-container {
    max-width: 500px;
    margin: 6.2rem auto;
}

.logo-section {
    text-align: center;
}

.logo-section img {
    width: 70px;
}

.form-header {
    width: 100%;
    text-align: center;
}

.form-header p {
    margin-top: 1.2rem;
}

.form-row {
    width: 100%;
    display: block;
    margin: 1rem 0;
}

form {
    width: 100%;
    margin-top: 2rem;
}

form label {
    display: block;
    font-size: 0.9rem;
}

form input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.4rem;
}

.login-btn {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1.3rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.messages-section {
    max-width: 60%;
    margin: 2rem auto;
}

.error {
    display: flex;
    padding: 0.3rem 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(255, 56, 56);
    background-color: rgb(255, 224, 221);
    color: rgb(128, 0, 0);
}



.error button {
    background-color: transparent;
    border: none;
    padding: 0.3rem 0.8rem;
}

svg:not(:root) {
    overflow: hidden;
}

.register-cta-section {
    margin-top: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    text-align: center !important;
    font-size: 15px;
    line-height: 1.6;
}

.login__alt-cta__img {
    position: absolute;
    pointer-events: none;
    stroke: #d1d1d1;
    fill: none;
    opacity: 0.8;
    stroke-width: 1.5;
    stroke-linecap: round;
}

.login__alt-cta__img01 {
    left: 4%;
    bottom: -10px;
}

.login__alt-cta__img02 {
    right: 5%;
    top: 0;
}
