{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{news.title}}</title>
    <link rel="stylesheet" href="{% static 'news/css/community_detail.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="navbar_container">
            <div class="navbar_left">
                <div>
                    <a href="{% url 'news:index' %}"><img class="navbar_logo_img"
                            src="{% static 'images/logo_header_black.svg' %}" alt=""></a>
                </div>
            </div>
            <div class="navbar_right">
                <form method="get" action="{% url 'news:community_search' %}">
                    {% csrf_token %}
                    <div class="search_container">

                        <svg width="32" height="32" class="DFW_E nT46U VETef" viewBox="0 0 24 24" version="1.1"
                            aria-hidden="false">
                            <desc lang="en-US">A magnifying glass</desc>
                            <path
                                d="M16.5 15c.9-1.2 1.5-2.8 1.5-4.5C18 6.4 14.6 3 10.5 3S3 6.4 3 10.5 6.4 18 10.5 18c1.7 0 3.2-.5 4.5-1.5l4.6 4.5 1.4-1.5-4.5-4.5zm-6 1c-3 0-5.5-2.5-5.5-5.5S7.5 5 10.5 5 16 7.5 16 10.5 13.5 16 10.5 16z">
                            </path>
                        </svg>

                        <input class="search" type="search" name="search" placeholder="search community news">
                    </div>
                </form>
            </div>
            <div class="navbar_right__cta">
                <a style="font-size: 0.9rem;" href="{% url 'news:index' %}">Home</a>
                <a class="create_news_btn" href="{% url 'news:create' %}">Create News</a>
                {% if request.user.is_authenticated %}
                <div class="profile_img_container">
                    <button id="profile_btn" role="button" tabindex="0" aria-haspopup="true" aria-expanded="true"
                        type="button" class="profile_img_btn">
                        <div class="profile_img_btn__cta1">
                            <div class="profile_img_btn__cta2">
                                <img class="profile_img" loading="lazy" role="presentation"
                                    src="{{request.user.profile.image.url}}" alt="user profile image">
                            </div>
                        </div>
                    </button>
                </div>
                <div id="logout_menu" role="menu" tabindex="-1" style="display: none;">
                    <div class="menu-popup">
                        <div class="menu-popup__popover">
                            <div class="top_arrow">
                                <div class="top_arrow__cta1"></div>
                                <div classs="top_arrow__cta2"></div>
                            </div>
                            <div class="popup_content">
                                <ul class="menu_content">
                                    <li class="menu_item">
                                        <a role="link" tabindex="-1" aria-disabled="false" class="logout__cta"
                                            href="{% url 'users:logout' %}">Logout @{{request.user.username}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <button class="login_btn"><a href="{% url 'users:login' %}">Log in</a></button>
                {% endif %}
            </div>
        </div>
        <ul class="categories_section">
            <li><a href="{% url 'news:index' %}">Featured</a></li>
            <li class="active"><a href="{% url 'news:community' %}">Community</a></li>
        </ul>
    </nav>
    <main class="container">
        <section class="breadcrumb">
            <small>
                <a href="{% url 'news:community' %}">home</a> <span> > </span> <a
                    href="{% url 'news:community_detail' slug=news.slug %}" class="active_breadcrumb">{{news.slug}}</a>
            </small>
        </section>
        <section class="meta-section">

        </section>
        <section class="heading">
            <h1>{{news.title}}</h1>
        </section>
        <section class="image">
            <img src="{{news.banner.url}}" alt="{{news.title}}">
        </section>
        <section class="meta">
            By <a href="{% url 'users:profile' username=news.author.username %}">{{news.author}}</a> on {{news.published_at|date:"M d, Y"}} {{news.published_at|time:"H:i"}}
        </section>
        <section id="content">
            <ul class="categories_section shadow_low">
                <li id="editorial_controller" class="active">
                    <div>Editorial</div>
                </li>
                <li id="comments_section_controller">
                    <div>Comments</div>
                </li>
            </ul>
            <div class="content_section">
                <div id="editorial_section" class="content_item">
                    <p>
                        {{news.content | linebreaksbr | safe}}
                    </p>
                </div>
                <div id="comments_section" class="comment_section hidden">
                    <div class="add_comment">
                        {% if request.user.is_authenticated %}
                        <!-- create a form to add the comment -->
                        <form class="comment_form" action="{% url 'news:add_comment' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{news.slug}}" name="post_slug">
                            <div class="comment_row">
                                <div class="current_user_image">
                                    <img src="{{request.user.profile.image.url}}"
                                        alt="{{request.user.username}} profile image">
                                </div>
                                <div class="input_row">
                                    <textarea
                                        onkeyup="this.style.height='auto';this.style.height=(this.scrollHeight)+'px'"
                                        class="search" type="text" name="comment" placeholder="Add a comment"
                                        required></textarea>

                                </div>
                            </div>
                            <div class="comment_submit">
                                <button class="read_more" type="submit">Add Comment</button>
                            </div>
                        </form>
                        {% else %}
                        <!-- display message that you are not logged in -->
                        <div class="no_comment_allowed">
                            Please log in to comment on this news
                        </div>
                        {% endif %}
                    </div>
                    {% if comments %}
                    <div class="comment_section_1">
                        {% for comment in comments %}
                        <div class="comment_container">
                            <div class="comment_user_image">
                                <img src="{{comment.author.profile.image.url}}" alt="{{comment.author.username}}">
                            </div>
                            <div class="comment_user_body">
                                <div class="comment_user_meta">
                                    <strong>{{comment.author.username}}</strong>
                                    <small><span></span>{{comment.published_at|date:"M d, Y"}}
                                        {{comment.published_at|time:"H:i"}}</small>
                                </div>
                                <div class="comment_description">
                                    {{ comment.description }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {% else %}
                    <div class="no_comment_left">
                        No comments yet! Show your love by adding a &hearts; comment!
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>



    <script src="{% static 'news/js/navbar.js' %}" defer></script>

    <script>
        let isCommentSection = false;
        const editorialController = document.getElementById('editorial_controller');
        const commentsSectionController = document.getElementById('comments_section_controller');

        editorialController.addEventListener('click', (e) => {
            e.preventDefault();
            if (isCommentSection) {
                isCommentSection = !isCommentSection;
                document.getElementById('comments_section').classList.add('hidden');
                document.getElementById('editorial_section').classList.remove('hidden');
                editorialController.classList.add('active');
                commentsSectionController.classList.remove('active');

            }
        });

        commentsSectionController.addEventListener('click', (e) => {
            e.preventDefault();
            if (!isCommentSection) {
                isCommentSection = !isCommentSection;
                document.getElementById('comments_section').classList.remove('hidden');
                document.getElementById('editorial_section').classList.add('hidden');
                editorialController.classList.remove('active');
                commentsSectionController.classList.add('active');

            }
        })
    </script>

</body>

</html>
