{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit News | Featured</title>
    <link rel="stylesheet" href="{% static 'news/css/index.css' %}">
</head>

<body>
    <!-- navbar section here -->
    <nav class="navbar">
        <div class="navbar_container">
            <div class="navbar_left">
                <div>
                    <a href="{% url 'news:index' %}"><img class="navbar_logo_img"
                            src="{% static 'images/logo_header_black.svg' %}" alt=""></a>
                </div>
            </div>
            <div class="navbar_right">
                <form method="get" action="{% url 'news:search' %}">
                    {% csrf_token %}
                    <div class="search_container">

                        <svg width="32" height="32" class="DFW_E nT46U VETef" viewBox="0 0 24 24" version="1.1"
                            aria-hidden="false">
                            <desc lang="en-US">A magnifying glass</desc>
                            <path
                                d="M16.5 15c.9-1.2 1.5-2.8 1.5-4.5C18 6.4 14.6 3 10.5 3S3 6.4 3 10.5 6.4 18 10.5 18c1.7 0 3.2-.5 4.5-1.5l4.6 4.5 1.4-1.5-4.5-4.5zm-6 1c-3 0-5.5-2.5-5.5-5.5S7.5 5 10.5 5 16 7.5 16 10.5 13.5 16 10.5 16z">
                            </path>
                        </svg>

                        <input class="search" type="search" name="search" placeholder="search featured news">
                    </div>
                </form>
            </div>
            <div class="navbar_right__cta">
                <a style="font-size: 0.9rem;" href="{% url 'news:index' %}">Home</a>
                <a class="create_news_btn" href="{% url 'news:create' %}">Create News</a>
                {% if request.user.is_authenticated %}
                <div class="profile_img_container">
                    <button id="profile_btn" role="button" tabindex="0" aria-haspopup="true" aria-expanded="true"
                        type="button" class="profile_img_btn">
                        <div class="profile_img_btn__cta1">
                            <div class="profile_img_btn__cta2">
                                <img class="profile_img" loading="lazy" role="presentation"
                                    src="{{request.user.profile.image.url}}" alt="user profile image">
                            </div>
                        </div>
                    </button>
                </div>
                <div id="logout_menu" role="menu" tabindex="-1" style="display: none;">
                    <div class="menu-popup">
                        <div class="menu-popup__popover">
                            <div class="top_arrow">
                                <div class="top_arrow__cta1"></div>
                                <div classs="top_arrow__cta2"></div>
                            </div>
                            <div class="popup_content">
                                <ul class="menu_content">
                                    <li class="menu_item">
                                        <a role="link" tabindex="-1" aria-disabled="false" class="logout__cta"
                                            href="{% url 'users:user_profile' %}">Profile</a>
                                    </li>
                                    <li class="menu_item">
                                        <a role="link" tabindex="-1" aria-disabled="false" class="logout__cta"
                                            href="{% url 'users:logout' %}">Logout @{{request.user.username}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <button class="login_btn"><a href="{% url 'users:login' %}">Log in</a></button>
                {% endif %}
            </div>
        </div>
        <ul class="categories_section">
            <li class="active"><a href="{% url 'news:index' %}">Featured</a></li>
            <li><a href="{% url 'news:community' %}">Community</a></li>
            <li><a href="{% url 'users:all' %}">Profiles</a></li>
        </ul>
    </nav>
    <!-- navbar section ends here -->
    <main class="container">
        <section class="top_headlines">
            <div class="section_header">
                <h1>Top Headlines</h1>
            </div>
            <div class="section_content">
                {% for news in featured %}
                    <div class="card">
                        <div class="card-img">
                            <img src="{{news.image_url}}" alt="{{news.title}}" loading="lazy">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h1>{{news.title | safe}}</h1>
                            </div>
                            <div class="card-meta">
                                {{news.published_date|date:"M d, Y"}} {{news.published_date|time:"H:i"}}  | <span class="news_author">{{news.author | safe}}</span>
                            </div>
                            <div class="card-description">
                                {{news.description | safe}}
                            </div>
                            <div class="card_footer">
                                <hr class="hr">
                                <div class="card-links">
                                    <button class="read_more">
                                        <a class="read_more_cta" href="{% url 'news:featured_news_detail' slug=news.slug %}">Read More</a>
                                    </button>
                                    <button class="goto_source">
                                        <a class="goto_source_cta" target="_blank" href="{{news.url}}">
                                        Go to Source</a>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="business_headlines">
            <div class="section_header">
                <h1>Latest Business News</h1>
            </div>
            <div class="section_content">
                {% for news in business %}
                    <div class="card">
                        <div class="card-img">
                            <img src="{{news.image_url}}" alt="{{news.title}}" loading="lazy">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h1>{{news.title | safe}}</h1>
                            </div>
                            <div class="card-meta">
                                {{news.published_date|date:"M d, Y"}} {{news.published_date|time:"H:i"}}  | <span class="news_author">{{news.author | safe}}</span>                            </div>
                            <div class="card-description">
                                {{news.description | safe}}
                            </div>
                            <hr class="hr">
                            <div class="card-links">
                                <button class="read_more">
                                    <a class="read_more_cta" href="{% url 'news:featured_news_detail' slug=news.slug %}">Read More</a>                                </button>
                                <button class="goto_source">
                                    <a class="goto_source_cta" target="_blank" href="{{news.url}}">
                                    Go to Source</a>
                                </button>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </section>
        <section class="tech_headlines">
            <div class="section_header">
                <h1>Latest Technology News</h1>
            </div>
            <div class="section_content">
                {% for news in technology %}
                    <div class="card">
                        <div class="card-img">
                            <img src="{{news.image_url}}" alt="{{news.title}}" loading="lazy">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h1>{{news.title | safe}}</h1>
                            </div>
                            <div class="card-meta">
                                {{news.published_date|date:"M d, Y"}} {{news.published_date|time:"H:i"}}  | <span class="news_author">{{news.author | safe}}</span>
                            </div>
                            <div class="card-description">
                                {{news.description | safe}}
                            </div>
                            <hr class="hr">
                            <div class="card-links">
                                <button class="read_more">
                                    <a class="read_more_cta" href="{% url 'news:featured_news_detail' slug=news.slug %}">Read More</a>                                </button>
                                <button class="goto_source">
                                    <a class="goto_source_cta" target="_blank" href="{{news.url}}">
                                    Go to Source</a>
                                </button>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="sports_headlines">
            <div class="section_header">
                <h1>Latest Sports News</h1>
            </div>
            <div class="section_content">
                {% for news in sports %}
                    <div class="card">
                        <div class="card-img">
                            <img src="{{news.image_url}}" alt="{{news.title}}" loading="lazy">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h1>{{news.title | safe}}</h1>
                            </div>
                            <div class="card-meta">
                                {{news.published_date|date:"M d, Y"}} {{news.published_date|time:"H:i"}}  | <span class="news_author">{{news.author | safe}}</span>
                            </div>
                            <div class="card-description">
                                {{news.description | safe}}
                            </div>
                            <hr class="hr">
                            <div class="card-links">
                                <button class="read_more">
                                    <a class="read_more_cta" href="{% url 'news:featured_news_detail' slug=news.slug %}">Read More</a>                                </button>
                                <button class="goto_source">
                                    <a class="goto_source_cta" target="_blank" href="{{news.url}}">
                                    Go to Source</a>
                                </button>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <!-- <div>
        {% if request.user.is_authenticated %}
            <p>{{ request.user.username }} </p>
        {% else %}
            <p>Anonymous user</p>
        {% endif %}
    </div>
    <div>
        you are visiting from {{country_code}}
    </div>
    <div>
        {{featured.title}}
    </div>
    <div>
        {{featured.description}}
    </div>
    <div>
        <img src="{{featured.urlToImage}}" alt="{{featured.title}}">
    </div>
    <div>
        <a href="{{featured.url}}" target="_blank">Read more</a>
    </div> -->



    <!-- script -->
    <script src="{% static 'news/js/navbar.js'%}" defer></script>
</body>

</html>
