@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "sans-serif";
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

/* the navbar section */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.05);
}
.navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.2rem;
}

.navbar_left {
  display: flex;
  flex-direction: row;
  margin-left: 1.2rem;
}

.navbar_right {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.navbar_right form {
  display: flex;
  flex-grow: 1;
  background-color: #eee;
  border-radius: 50px;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  box-sizing: border-box;
}

.navbar_right form:hover {
  outline: 1px solid #aaa;
}

.navbar_logo_img {
  width: 30px;
}

.search_container {
  display: flex;
  flex-grow: 1;
  align-self: center;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem 0.4rem;
  fill: #767676;
}

.search,
.search:focus,
.search:focus-visible,
.search:focus-within {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.VETef {
  height: 20px;
  width: 20px;
}

.DFW_E {
  padding-left: 14px;
}

.nT46U {
  fill: #767676;
  box-sizing: initial;
  transition: fill 0.1s ease-in-out;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.create_news_btn {
  padding: 0.4rem 1.1rem;
  background: none;
  border: 1px solid #767676;
  font-size: 0.9rem;
  color: #767676;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1.2rem;
}

.create_news_btn:hover {
  color: #111;
  border: 1px solid #111;
}

.login_btn {
  padding: 0.5rem 1.2rem;
  background: none;
  border: none;
  font-size: 0.9rem;
  color: #767676;
  cursor: pointer;
}

.login_btn:hover {
  color: #111;
}

.navbar_right__cta {
  display: flex;
  flex-direction: "row";
  align-items: center;
}

.profile_img_container {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: inline-block;
}

.profile_img_btn {
  height: 100%;
  position: relative;
  background-color: initial;
  border: none;
  font-weight: inherit;
  padding: 0;
  text-align: inherit;
}

.profile_img_btn__cta1 {
  display: inline-block;
  vertical-align: middle;
}

.profile_img_btn__cta2 {
  position: relative;
}

.profile_img_btn__cta2::after {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  content: "";
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.profile_img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-style: none;
  aspect-ratio: auto 40 / 40;
  overflow-clip-margin: content-box;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.menu-popup {
  position: absolute;
  inset: 0 0 auto auto;
  transform: translate(-35px, 63px);
  z-index: 1;
}

.menu-popup__popover {
  transition: transform 200ms cubic-bezier(0.24, 0.22, 0.015, 1.56) 0s,
    opacity 100ms ease-in-out 0s;
}

.top_arrow {
  position: absolute;
  left: 0px;
  transform: translate(186px, 0px);
  bottom: calc(100% - 1px);
}

.top_arrow__cta1 {
  border-bottom-color: #0000001f;
  top: -1px;
  position: absolute;
  z-index: -1;
}

.top_arrow__cta2 {
  border-bottom-color: #fff;
  border: 8px solid #000;
}

.popup_content {
  background-color: #fff;
  width: 210px;
  padding-block: 8px;
  border-radius: 4px;
  box-shadow: 0 8px 16px #00000029;
  min-width: 135px;
  font-size: 15px;
}

.menu_content {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

.logout__cta {
  transition: all 0.1s ease-in-out;
  color: #555;
  font-size: 14px;
  align-items: center;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.popup_content:hover {
  background-color: #eee;
  color: #111;
}

a {
  text-decoration: none;
  color: #767676;
}

a:hover {
  color: #111;
}

.categories_section {
  width: 100%;
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.categories_section li {
  padding: 1.2rem 1rem 0.5rem 1rem;
}

.active {
  border-bottom: 3px solid #111;
  font-weight: 700;
}

.active a {
  color: #111;
}

/* end of the navbar section */

.top_post_section {
  width: 100%;
  min-height: 30vh;
  background-color: #fafafa;
}

.container {
  padding-top: 10rem;
  min-width: 50%;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  overflow: hidden;
}

.news_author {
  font-weight: 600;
  color: #4a1919;
}

.container {
  padding-top: 10rem;
  min-width: 50%;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  overflow: hidden;
}

.section_header {
  font-size: 1.5rem;
  margin: 1.2rem 0;
}

.business_headlines > .section_header,
.tech_headlines > .section_header,
.sports_headlines > .section_header {
  padding-top: 2rem;
}

.section_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 1.2rem;
  row-gap: 2rem;
}

.card {
  border: 1px solid #eee;
  padding: 0.5rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
}

.card-img {
  display: block;
  margin-bottom: 1rem;
}

.card-img {
  width: 100%;
  border-radius: 10px;
}

.card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-description {
  flex-grow: 1;
}

.card-meta {
  padding: 1rem 0;
  font-size: 0.9rem;
}

.hr {
  margin: 1.2rem;
  border: 1px solid #eee;
}

.read_more {
  background-color: #000;
  border: none;
  padding: 0.5rem;
  margin-right: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
}

.read_more a {
  color: #fff;
}

.goto_source {
  background-color: #fff;
  border: solid 1px #ddd;
  padding: 0.5rem;
  border-radius: 3px;
  font-weight: 500;
}

.goto_source:hover {
  border: solid 1px #999;
}

/* defining the news of the day */

.header {
  padding-bottom: 1.2rem;
}

.top_post__heading {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.top_post__body {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 2rem;
  row-gap: 1.2rem;
}

.top_post__img {
  width: 100%;
}

.top_post__img img {
  width: 100%;
}

.top_post__content {
  margin-right: 1.2rem;
}

.top_post__title {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.top_post__meta {
  margin-bottom: 1.2rem;
}

.top_post__description {
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.top_post__category {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}

.container_main {
  min-width: 50%;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  overflow: hidden;
}

/* defining the section header here */
.section_header_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

select {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.section_content {
  margin-top: 1.2rem;
}

.not_found_container {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 500px;
  flex-grow: 1;
  margin: 1.2rem auto;
}

.image > img {
  width: 100%;
  object-fit: cover;
}

.not_found__content {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}
